@import models.user.User
@import utility.UserConstants
@import models.course.Course
@(userList: List[User])(coursesList: List[Course])
@adminmain("Add teacher to the course") {

    @helper.form(action = controllers.users.routes.AdminController.addTeacher(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
        <br>
        <legend>Adding teacher</legend>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Teachers</label>
            <div class="col-lg-4">
                <select class="form-control" id="select" name="teacher">
                @for(user <- userList) {
                    @if(user.getRoles != null && user.getRoles.size() > 0) {
                        @for(role <- user.getRoles) {
                            @if(role.getId.equals(UserConstants.TEACHER)) {
                                <option value="@user.getId">@user.getFirstName @user.getLastName</option>
                            }
                        }
                    }
                }
                </select>
            </div>

            <label for="select" class="col-lg-2 control-label">Courses</label>
            <div class="col-lg-4">
                <select class="form-control" id="select" name="course">
                @for(course <- coursesList) {
                    @if(course.getStatus == 1) {
                        <option value="@course.getId">@course.getName - @course.getDescription</option>
                    }
                }
                </select>
            </div>

                @if(coursesList.size > 0) {
                    <button type="submit" class="btn btn-primary col-lg-offset-6 top50" href="@controllers.users.routes.AdminController.addTeacher()">
                        Add teacher</button>
                }else {
                    <button type="submit" class="btn btn-primary col-lg-offset-6 top50" href="@controllers.users.routes.AdminController.addTeacher()" disabled="true">
                        Add teacher</button>
                }
        </div>
    }
}