@(errorList: List[ErrorLog])
@adminmain("Errors") {

    <br/>
    <legend>Errors</legend>

    <div class="container">
        <div class="table-responsive">

    <table id="sort" class="table-condensed table-hover table table-bordered">
        <thead>
            <tr class="danger">
                <th>Error message</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(err <- errorList) {
            <tr class="information">
                <td>@err.getMessage</td>
                <td>@err.getDate</td>
                <td>
                    <a data-role="delete" data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteError(err.getId)" role="button">
                        <i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
    </div>

}