@import models.course.Course
@(courses: List[Course])
@adminmain("Archived courses") {

  <br/>
  <legend>Archived course on bitClassroom</legend>
  <div class="container">
    <div class="table-responsive">

      <table id="sort" class="table-condensed table-hover table">
        <thead>
          <tr class="navbar-inverse">
            <th class="th-color">Name</th>
            <th class="th-color">Description</th>
            <th class="th-color">Archived by</th>
            <th class="th-color">Reactivate</th>
          </tr>
        </thead>
        <tbody>
        @for(course <- courses) {
          <tr class="information">
            <td>@course.getName</td>
            <td>@course.getDescription</td>
            <td>@course.getUpdatedBy</td>
            <td><a id="activate@course.getId" class="btn btn-info btn-xs" data-role="delete@course.getId" data-delete-parent="tr"><i class="glyphicon glyphicon-folder-close"></i></a></td>

            <script>
              $(document).ready(function() {
                $("#activate@course.getId").click(function() {
                  $toDelete = $(this);
                  var conf = bootbox.confirm("Are you sure you want to activate course @course.getName?", function(result){
                    if(result != false){
                      $.ajax({
                        type: "post",
                        url: "@controllers.users.routes.AdminController.activateCourse(course.getId)",
                      }).success(function(response) {
                        $toDelete.parents($toDelete.attr("data-delete-parent")).remove();
                      })
                    }
                  });
                });
              });
            </script>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>


}