@import models.course.Course
@(courses: List[Course])
@adminmain("Deleted courses") {

  <div class="container">
    <h4 class="page-head-line">Deleted courses on bitClassroom</h4>
  </div>

  <div class="container">
    <div class="table-responsive">

      <table id="sort" class="table-condensed table-hover table">
        <thead>
          <tr class="danger">
            <th>Course name</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Deleted by</th>
          </tr>
        </thead>
        <tbody>
        @for(course <- courses) {
          <tr class="info">
            <td>@course.getName</td>
            <td>@course.getDescription</td>
            <td>@course.getTeacher</td>
            <td>@course.getUpdatedBy</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>


}