@import models.course.Course
@import models.course.CourseUser
@import utility.UserConstants
@(courses: List[Course])
@adminmain("Active courses") {

    <br/>
    <legend>Course on bitClassroom</legend>

    <div class="container">
        <div class="table-responsive">

            <table id="sort" class="table-condensed table-hover table">
                <thead>
                    <tr class="navbar-inverse">
                        <th class="th-color">Name</th>
                        <th class="th-color">Description</th>
                        <th class="th-color">Teachers</th>
                        <th class="th-color">Overview</th>
                        <th class="th-color">Archive</th>
                        <th class="th-color">Delete</th>
                    </tr>
                </thead>
                <tbody>
                @for(course <- courses) {
                    <tr class="information">
                        <td>@course.getName</td>
                        <td>@course.getDescription</td>

                        <td><h6>
                        @for(user <- CourseUser.allUserFromCourse(course.getId)){

                            @if(user.getRoles != null && user.getRoles.size() > 0) {
                                @for(role <- user.getRoles) {
                                    @if(role.getId.equals(UserConstants.TEACHER)) {
                                        @user.getFirstName @user.getLastName
                                    }
                                }
                            }

                        }
                        </h6></td>
                        <td><a href="/user/class/@course.getId"><i class="glyphicon glyphicon-list"></i></a></td>
                        <td><a id="archive@course.getId" class="btn btn-success btn-xs" data-role="delete@course.getId" data-delete-parent="tr"><i class="glyphicon glyphicon-folder-open"></i></a></td>
                        <td><a id="delete@course.getId" class="btn btn-danger btn-xs" data-role="delete@course.getId" data-delete-parent="tr"><i class="glyphicon glyphicon-trash"></i></a></td>

                        <script>
                            $(document).ready(function() {
                                $("#archive@course.getId").click(function() {
                                    $toDelete = $(this);
                                    var conf = bootbox.confirm("Are you sure you want to archive course?", function(result){
                                        if(result != false){
                                            $.ajax({
                                                type: "post",
                                                url: "@controllers.users.routes.AdminController.deleteOrArchiveCourse(course.getId)",
                                                data: "pressed=0"
                                            }).success(function(response) {
                                                $toDelete.parents($toDelete.attr("data-delete-parent")).remove();
                                            })
                                        }
                                    });
                                });

                                $("#delete@course.getId").click(function() {
                                    $toDelete = $(this);
                                    var conf = bootbox.confirm("Are you sure you want to delete course?", function(result){
                                        if(result != false){
                                            $.ajax({
                                                type: "post",
                                                url: "@controllers.users.routes.AdminController.deleteOrArchiveCourse(course.getId)",
                                                data: "pressed=2"
                                            }).success(function(response) {
                                                $toDelete.parents($toDelete.attr("data-delete-parent")).remove();
                                            })
                                        }
                                    });
                                });
                            });


                        </script>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>


}