@import models.report.Field
@import models.report.ReportField
@import models.report.DailyReport
@import controllers.users.AdminController
@(listReportField: List[ReportField], listDailyReport: List[DailyReport], listField: List[Field])

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet" />
        <title>Daily report</title>
    </head>
    <body>
        <form>
            <div>
                <h3 class="text-center page-head-line"> Table of daily reports </h3>
            </div>
            <table class="table-bordered">
                <div>
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Date</th>
                            <th>Teacher</th>
                            <th>Title</th>
                            @for(rf <- listField) {
                                <th>@rf.getName</th>
                            }
                            <th>Report</th>
                        </tr>
                    </thead>
                    @for(ldr <- listDailyReport) {
                        <tbody>
                            <div>
                                <tr class="success" style="background: lightgreen">
                                    <td>@ldr.getCreateDate</td>
                                    <td>@AdminController.formaterDate(ldr.getDate)</td>
                                    <td><a>@ldr.getTeacher</a></td>
                                    <td>@AdminController.cutText(ldr.getName, 20)</td>
                                    @for(field <- listField) {
                                        @if(ldr.containsField(field) == true) {
                                            <td>@AdminController.cutText(ldr.getField(field).getValue(), 20)</td>
                                        } else {
                                            <td>/</td>
                                        }
                                    }
                                    <td>@AdminController.cutText(ldr.getData, 40)</td>
                                </tr>
                            </div>
                        </tbody>
                    }
                </div>
            </table>
        </form>
    </body>
</html>