@adminmain("FAQ setup") {

    @helper.form(action = controllers.posts.routes.PostController.savePost(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
    <form class="form-horizontal">
        <div class="form-group has-success">
            <label class="col-xs-2 control-label" for="inputQuestion">Question</label>
            <div class="col-xs-10">
                <input type="text" id="inputQuestion" class="form-control" placeholder="Enter the new question." required>
            </div>
        </div>
        <div class="form-group has-warning">
            <label class="col-xs-2 control-label" for="inputAnswer">Answer</label>
            <div class="col-xs-10">
                <textarea type="" id="inputAnswer" class="form-control" placeholder="Enter the question." required></textarea>

            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary  focus" href="#">
                Update FAQ</button>
        </div>
    </form>
    }
}