@import models.course.Course
@import models.user.User
@import utility.UserConstants
@(users: List[User])(courseForm: Form[Course])


@adminmain("Fill in the form") {

    @helper.form(action = controllers.users.routes.AdminController.saveCourse(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
        <div class="panel panel-default">
            <div class="panel-body">
        <legend>Create new course</legend>

        <form id="courseForm" method="post" class="form-horizontal">
                <!-- The template for adding new field -->
            <div class="form-group" id="courseTemplate">
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Name" required/>
                </div>
            </div>
            <div class="form-group" id="courseTemplate">
            <div class="col-lg-6">
                <input type="text" class="form-control" name="description" placeholder="Description" required />
            </div>
        </div>

            <div class="form-group" >
                <label class="col-lg-6"> Premium
                    <input name="premium" type="checkbox" onclick="isPremium()" id="coursePremium" value="0">
                </label>
            </div>

            <div class="form-group" id="coursePrice" hidden>
                <div class="col-lg-6">
                    <input type="number" class="form-control" name="price" placeholder="Price"  />
                </div>
            </div>

            <div class="form-group" id="courseQuantity" hidden>
                <div class="col-lg-6">
                    <input type="number" class="form-control" name="quantity" placeholder="Quantity" />
                </div>
            </div>
            <label>Select teacher</label>
            <div class="form-group" id="courseTemplate">
                <div class="col-lg-6">
                    <select id="selection" name="type" required>

                    @for(user <- users) {
                        @if(user.getRoles != null && user.getRoles.size() > 0) {
                            @for(role <- user.getRoles) {
                                @if(role.getId.equals(UserConstants.TEACHER)) {
                                    <option value="@user.getFirstName @user.getLastName @user.getId">@user.getFirstName @user.getLastName</option>
                                }

                            }
                        }
                    }
                    </select>

                </div>

            </div>

            <div class="form-group" id="courseTemplate">
                <div class="col-lg-6">

                    <label>Insert course background image</label>
                    <input type="file" name="image" accept="image/*" id="upload-img"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-1">
                    <button type="submit" href="@controllers.users.routes.AdminController.saveCourse()" id="saveCourse" class="btn btn-success">
                        Save</button>
                </div>
            </div>
        </form>

            </div>
        </div>


    }

    <script>
        function isPremium(){
            var checkbox = document.getElementById("coursePremium");

            if(checkbox.value == 0){

                $("#coursePrice").show();
                $("#courseQuantity").show();
                checkbox.value = 1;
            }else{
                $("#coursePrice").hide();
                $("#courseQuantity").hide();
                checkbox.value = 0;
            }
        }
    </script>
}