@import models.user.Mentorship
@(mentorship: List[Mentorship])
@adminmain("Mentorship program") {


  <br/>
  <legend>Active mentorship</legend>

  <div class="container">
    <div class="table-responsive">

      <table id="sort" class="table-condensed table-hover table table-bordered">
        <thead>
          <tr class="success">
            <th>Mentor</th>
            <th>Student</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
        @for(men <- mentorship) {
          <tr class="info">
            <td>@men.getMentor.getFirstName @men.getMentor.getLastName</td>
            <td>@men.getStudent.getFirstName @men.getStudent.getLastName</td>
            <td>
              <a data-role="delete" data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteMentorship(men.getId)" role="button">
                <i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>

}