@import models.report.WeeklyField
@import models.report.ReportWeeklyField
@import models.report.WeeklyReport
@(listReportWeeklyField: List[ReportWeeklyField],
        listWeeklyReport: List[WeeklyReport],
        listWeeklyField: List[WeeklyField])

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet" />
        <title>Weekly report</title>
    </head>
    <body>
        <form>
            <div style="margin-top : 110 px">
                <h3 class="text-center page-head-line"> Table of weekly reports </h3>
            </div>
            <table class="table-bordered" style="background : #B0BED9">
                <div style="margin : 40 px 30 px 0 px 30 px" >
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Mentor</th>
                            <th>Student</th>
                            @for(rwf <- listWeeklyField) {
                                <th>@rwf.getName</th>
                            }
                            <th>Report</th>
                        </tr>
                    </thead>
                    @for(lwr <- listWeeklyReport) {
                        <tbody>
                            <div>
                                <tr class="success" style="background : lightgreen">
                                    <td>@lwr.getCreateDate</td>
                                    <td>@lwr.getDate</td>
                                    <td>@lwr.getName</td>
                                    <td>@lwr.getMentor</td>
                                    <td>@lwr.getStudent</td>
                                    @for(field <- listWeeklyField) {
                                        @if(lwr.containsWeeklyField(field) == true) {
                                            <td>@lwr.getWeeklyField(field).getValue()</td>
                                        } else {
                                            <td>/</td>
                                        }
                                    }
                                    <td>@lwr.getData</td>
                                </tr>
                            </div>
                        </tbody>
                    }
                </div>
            </table>
        </form>
    </body>
</html>