@import models.user.Mentorship
@(mentorship: List[Mentorship])
@adminmain("Mentorship program") {


  <div class="container">
    <h4 class="page-head-line">Active mentorship</h4>

  </div>


  <div class="container">
    <div class="table-responsive">

      <table id="sort" class="table-condensed table-hover table table-bordered">
        <thead>
          <tr class="success">
            <th>Mentor</th>
            <th>Student</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        @for(men <- mentorship) {
          <tr class="info">
            <td>@men.getMentor.getFirstName @men.getMentor.getLastName</td>
            <td>@men.getStudent.getFirstName @men.getStudent.getLastName</td>
            <td>
          <!--    <a data-role="delete" data-delete-parent="tr" href="" role="button">
                <i class="glyphicon glyphicon-trash"></i></a> -->
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>

}