@import models.report.Field
@import models.report.ReportField
@import models.report.DailyReport
@(listReportField: List[ReportField], listDailyReport: List[DailyReport], listField: List[Field])

@adminmain("NEW List") {


    <form>

        <div style="margin-top: 110px">
            <h3 class="page-head-line"> Table of daily reports </h3>
        </div>


            <table id="sort" class="table-bordered" style="background : papayawhip">
                <div style="margin : 40 px 30 px 0 px 30 px" >
                    <thead>
                        <tr> <th>Date</th>
                            <th>Title</th>
                            @for(rf <- listField) {
                                <th>@rf.getName</th>
                            }
                            <th>Report</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    @for(ldr <- listDailyReport) {
                        <tbody>
                            <div>
                                <tr class="success" style="background : #81d186">
                                    <td>@ldr.getCreateDate</td>
                                    <td>@ldr.getName</td>

                                    @for(field <- listField) {
                                        @if(ldr.containsField(field) == true) {
                                            <td>@ldr.getField(field).getValue()</td>
                                        } else {
                                            <td>/</td>
                                        }
                                    }
                                    <td>@ldr.getData</td>
                                    <td>
                                        <a data-role="delete" data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteReport(ldr.getId)">
                                            <i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    }
                </div>
            </table>

    </form>

}