@import models.user.User
@import utility.UserConstants
@(userList: List[User])
@adminmain("Users ") {


  <!-- TODO make a better design of table and page -->


  <div class="container">
    <h4 class="page-head-line">Users:</h4>

  </div>


  <div class="container">
    <div class="table-responsive">
      <table class="table-condensed table-hover table table-bordered">
        <thead>
          <tr class="danger">
            <th>First name:</th>
            <th>Last name:</th>
            <th>Email:</th>
            <th>Role:</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
        @for(users <- userList) {
          <tr class="info">
            <td>@users.getFirstName</td>
            <td>@users.getLastName</td>
            <td>@users.getEmail</td>
            @if(users.getRoles.size() > 0 && users.getRoles != null) {
              @for(role <- users.getRoles) {
                @if(role.getId.equals(UserConstants.ADMIN)) {
                  <td>Admin</td>
                    <td>
                        <a data-role="delete"  data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteUser(users.getId())" class="btn btn-danger" role="button">
                            Delete</a>
                    </td>

                }
                @if(role.getId.equals(UserConstants.TEACHER)) {
                 <td>Teacher</td>
                    <td>
                        <a data-role="delete"  data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteUser(users.getId)" class="btn btn-danger" role="button">
                            Delete</a>
                    </td>
                }
                @if(role.getId.equals(UserConstants.MENTOR)) {
                 <td>Mentor</td>
                    <td>
                        <a data-role="delete"  data-delete-parent="tr"  href="@controllers.users.routes.AdminController.deleteUser(users.getId)" role="button">
                            Delete</a>
                    </td>
                }
                @if(role.getId.equals(UserConstants.STUDENT)) {
                  <td>Student</td>
                    <td>
                        <a data-role="delete"  data-delete-parent="tr" href="@controllers.users.routes.AdminController.deleteUser(users.getId)" role="button">
                            Delete</a>
                    </td>
                }
              }
            }
          </tr>
        }
        </tbody>
      </table>

    </div>

  </div>

}