@main("About bitClassroom team") {

  <div class="text-center">
    <div class="row">
      <h4>WHAT team</h4>
    </div>
    <div class="row top30">
      <p>We are currently developing web application that is similar to Google classroom. Login to see current work.</p>
    </div>
  </div>

  <div class="row top30">

    <div class="row top10">
    <div class="panel panel-primary col-lg-11">
      <div class="panel-heading">
        <h3 class="panel-title">Initial team</h3>
      </div>
     </div>
    </div>

    <div class="row top30">

    <div class="panel panel-success col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Medina Banjic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
          <a href="https://github.com/medinabanjic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Becir Omerbasic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
          <a href="https://github.com/Becirr"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Enver Memic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
          <a href="https://github.com/envermemic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Nidal Salkic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
          <a href="https://github.com/nidalBITCamp"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Senadin Botic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
          <a href="https://github.com/SenadinBitCamp"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Boris Tomic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon-certificate">
        <a href="https://github.com/boristomic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    </div>
    <!-- END OF ROW -->


  </div>

  <div class="row">
  <div class="text-justify">
    <div class="row top15">
      <h4>Lorem ipsum text below</h4>
      <p>Ut sodales arcu a ex sagittis egestas. Etiam sit amet dui quam. Vestibulum odio eros, fermentum ac molestie pretium, sodales sit amet justo. Suspendisse potenti. Suspendisse vel dolor sed sem fermentum dictum. Duis vitae hendrerit elit, ac pretium elit. Pellentesque finibus mauris metus, id convallis nisi iaculis vitae. Etiam diam lacus, scelerisque vel massa id, condimentum congue sapien. Curabitur volutpat volutpat odio vel finibus.</p>
      <p>Fusce lacinia ultricies eleifend. Pellentesque blandit sed enim a convallis. Nullam non dui nec nunc semper pretium in nec orci. Integer consequat mauris in nisi pretium hendrerit. Phasellus ultricies lacinia enim nec iaculis. Ut et tortor eros. Ut non rutrum libero, quis porttitor enim. Nam in rhoncus mi. Quisque ultrices purus sed metus facilisis, feugiat porttitor elit sodales. Praesent vitae metus sodales, maximus sapien sed, blandit quam. Curabitur lectus lectus, viverra iaculis mauris eget, porttitor faucibus risus. Ut sit amet risus a arcu ultricies cursus.</p>
      <p>Morbi ornare rhoncus ligula, sit amet dapibus nisl tempus sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut pellentesque augue quis mauris luctus, in venenatis lorem tempus. Vivamus fermentum consequat mi eget ullamcorper. Cras et sollicitudin ipsum, eget vehicula libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis sapien et tempor fringilla. Aenean eget tellus metus. Aenean non quam posuere, facilisis lorem eu, ultrices lorem. Cras et velit sed nisl malesuada aliquam. Praesent a nisl in arcu mattis consectetur vulputate at ligula. Pellentesque a magna a sapien fringilla varius eget ac tellus. Sed ac orci accumsan leo fringilla ullamcorper.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam purus orci, aliquam ac convallis eget, facilisis vel elit. Mauris eleifend odio elit, vitae ullamcorper justo facilisis in. Pellentesque fermentum quam id orci bibendum, a faucibus erat laoreet. Vivamus lectus tellus, commodo ac est id, aliquam rhoncus mi. Sed vitae mollis lectus, non tempor nisl. Etiam fermentum in orci nec elementum. Nulla pharetra pharetra lorem nec posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum placerat erat eget vulputate maximus. Cras commodo ornare diam a porttitor. Duis ut diam vel tellus aliquam porttitor. Vivamus et accumsan sapien, vitae tincidunt eros. Nullam quis erat sit amet erat tempus elementum. Donec magna justo, auctor at quam eget, sodales laoreet velit. Nunc a tincidunt lacus.</p>
      <p>Aliquam accumsan ut tortor sit amet dignissim. Maecenas eget eleifend nisi. Sed feugiat sollicitudin arcu, quis rutrum leo laoreet quis. Nulla id enim vitae lorem lacinia auctor. Cras posuere arcu eu arcu facilisis egestas. Nullam turpis urna, interdum non ligula a, fermentum lobortis nunc. Curabitur vitae vestibulum ipsum, ut tempus purus. Curabitur sed nisl euismod, pellentesque augue eget, placerat dui. Pellentesque sollicitudin ullamcorper nisl in eleifend.</p>
      <p>Cras suscipit sagittis ultricies. Vestibulum ornare, purus euismod luctus finibus, nisi risus varius nulla, id sollicitudin sapien diam id mauris. Maecenas lacinia finibus lorem, vel mattis nunc tincidunt ac. Donec ornare mollis arcu eu aliquam. Vestibulum egestas et metus sit amet pretium. Integer tincidunt leo libero, ut facilisis nunc iaculis a. Cras gravida congue nibh. Aliquam luctus eu risus nec feugiat. Proin porta eros aliquet, porttitor ante vel, commodo nisl. Vestibulum non tellus in ligula rhoncus pretium. Pellentesque a pretium sapien. In dolor ligula, tincidunt a tempor sed, condimentum nec justo. Etiam eu vulputate odio. Aliquam vitae eleifend nibh.</p>
      <p>Vivamus quis consectetur magna, non consectetur mi. Aliquam at scelerisque enim. Proin et tincidunt velit, ut sollicitudin elit. Donec efficitur quis neque vel iaculis. Ut nec elit ac libero fringilla molestie. Vivamus laoreet aliquam enim, eget suscipit nibh pulvinar eget. Praesent accumsan ultrices enim nec suscipit.</p>
      <p>Proin malesuada convallis eros, scelerisque blandit sem auctor at. Mauris et egestas lacus. Pellentesque non sagittis ipsum. Integer non neque vitae lectus tincidunt mollis eget ac quam. Phasellus quis urna pellentesque, ultricies arcu sagittis, imperdiet nisl. Nunc pretium ipsum at dictum ullamcorper. In malesuada lacinia mi. In tempus diam vitae felis faucibus fermentum.</p>
      <p>Ut at odio condimentum, iaculis risus in, finibus purus. Vivamus dapibus, arcu tincidunt sollicitudin consequat, massa velit ornare est, id egestas nulla lectus vel mauris. Praesent auctor mollis mauris nec imperdiet. Vivamus pulvinar ex at elit venenatis auctor. Curabitur purus mi, ultricies quis quam et, malesuada bibendum eros. Proin tincidunt est quis felis mattis commodo. Morbi et lacus sem. Etiam non dolor lectus. Nam gravida rhoncus sapien id fringilla. Nunc at nibh non lectus dapibus ullamcorper et eget augue. Maecenas condimentum, mi quis imperdiet euismod, nulla diam vulputate odio, et aliquet leo neque eget magna. Mauris facilisis ligula risus, id vehicula libero mattis a. Ut varius, eros vitae vulputate faucibus, purus velit convallis nisl, tincidunt pellentesque massa libero sed purus.</p>
    </div>
  </div>
  </div>


}
