@import models.course.Course
@(courseForm: Form[Course])
@main("Fill in the form") {

    @helper.form(action = controllers.users.routes.AdminController.saveCourse(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {

        <legend>Create new post</legend>

        <form id="courseForm" method="post" class="form-horizontal">
                <!-- The template for adding new field -->
            <div class="form-group" id="courseTemplate">
                <div class="col-xs-4 col-xs-offset-1">
                    <input type="text" class="form-control" name="name" placeholder="Name" />
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="description" placeholder="Description" />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="teacher" placeholder="Teacher" />
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-1">
                    <button type="submit" href="@controllers.users.routes.AdminController.saveCourse()" id="saveCourse" class="btn btn-default">
                        Save</button>
                </div>
            </div>
        </form>


    }
}