@import models.user.User
@(user: User)
@main("Update your profile") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profilePicture.css")" />
  <script src="@routes.Assets.versioned("javascripts/profilePicture.js")"></script>

  @helper.form(action = controllers.users.routes.UserController.saveProfile(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {



    <div class="col-lg-11 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
        @user.getEmail()
        </div>
        <div class="panel-body">

      <div class="col-md-4 text-center">
        <div class="ImageWrapper ContentWrapperCl chrome-fix">
      @if(user.getProfilePicture.size() != 0 && user.getProfilePicture != null){
        <img src="@user.getProfilePicture.get(user.getProfilePicture.size()-1).getSize(300,300)"/>
      }else{
        <img src="http://placehold.it/300x300"/>
      }
          <div class="ImageOverlayH">
            <div class="ContentCl">
              <div class="Content">
                <h2>
                  Change your picture.
                </h2>
                <div class="ReadMore">
                  <span class="file-input btn btn-primary btn-file">
                    Browse&hellip; <input type="file" name="image" accept="image/*" id="upload-img" multiple>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- edit form column -->
      <div class="col-md-8">

        <div class="form-group">
          <label for="nickname" class="col-lg-3 control-label">Nickname</label>
          <div class="col-lg-9">
            <input name="firstkname" type="text" class="form-control" id="inputName"  onblur="checkNameInput()" placeholder="Your nickname" value="@user.getNickName">
            <span id="nameError" class="alert-warning " data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword1" class="col-lg-3 control-label">Password</label>
          <div class="col-lg-9">
            <input name="password1" type="password" class="form-control" onblur="checkPassword()" id="inputPassword1" placeholder="Type new password">
            <span id="passError" class="alert-warning " data-error-for="" ></span>
          </div>
        </div>


        <div class="form-group">
          <label for="inputPassword" class="col-lg-3 control-label">Confirm password</label>
          <div class="col-lg-9">
            <input name="password2" type="password" class="form-control" onblur="checkPasswords()" id="inputPassword" placeholder="Retype your password">
            <span id="repassError" class="alert-warning" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="location" class="col-lg-3 control-label">Location</label>
          <div class="col-lg-9">
            <input name="location" type="text" class="form-control" id="location" placeholder="Your location" value="@user.getLocation">
          </div>
        </div>

        <div class="form-group">
          <label for="home-phone" class="col-lg-3 control-label">Home phone</label>
          <div class="col-lg-9">
            <input name="home-phone" type="text" class="form-control" onblur="checkPhone()" id="home-phone" placeholder="Your home phone number" value="@user.getHomePhone">
            <span id="phoneCheck" class="alert-warning" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile-phone" class="col-lg-3 control-label">Mobile phone</label>
          <div class="col-lg-9">
            <input name="mobile-phone" type="text" class="form-control" onblur="checkMobilePhone()" id="mobile-phone" placeholder="Your mobile phone number" value="@user.getCellPhone">
            <span id="mobilePhoneCheck" class="alert-warning" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="skype" class="col-lg-3 control-label">Skype</label>
          <div class="col-lg-9">
            <input name="skype" type="text" class="form-control" onblur="checkSkypeName()" id="skype" placeholder="Your skype name" value="@user.getSkype">
            <span id="skypeCheck" class="alert-warning" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="facebook" class="col-lg-3 control-label">Facebook</label>
          <div class="col-lg-9">
            <input name="facebook" type="text" class="form-control" onblur="checkFacebook()" id="facebook" pattern="https?://www.facebook.com/[\w]{4,}" placeholder="Your facebook profile" value="@user.getFacebook">
            <span id="facebookCheck" class="alert-warning" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">
          <label for="twitter" class="col-lg-3 control-label">Twitter</label>
          <div class="col-lg-9">
            <input name="twitter" type="text" class="form-control" id="twitter" placeholder="Your twitter profile" value="@user.getTwitter">
          </div>
        </div>

        <div class="form-group">
          <label for="youtube" class="col-lg-3 control-label">Youtube</label>
          <div class="col-lg-9">
            <input name="youtube" type="text" class="form-control" id="youtube" placeholder="Your youtube profile" value="@user.getYoutube">
          </div>
        </div>

        <br>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Clear all</button>
            <button type="submit" class="btn btn-primary focus" href="@controllers.users.routes.UserController.updateProfile()">Submit</button>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>


  }
}
