@import models.user.User
@(user: User)
@main("Update your profile") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profilePicture.css")" />
    <script src="@routes.Assets.versioned("javascripts/profilePicture.js")"></script>


    @helper.form(action = controllers.users.routes.UserController.updateProfile(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {



        <div class="col-lg-11 col-lg-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                @user.getEmail()
                </div>
                <div class="panel-body">




            <div class="col-md-4 text-center">
                <div class="ImageWrapper ContentWrapperCl chrome-fix">
                @if(user.getProfilePicture.size() != 0 && user.getProfilePicture != null){
                    <img src="@user.getProfilePicture.get(user.getProfilePicture.size()-1).getSize(300,300)"/>
                }else{
                    <img src="http://placehold.it/300x300"/>
                }
                    <div class="ImageOverlayH">
                        <div class="ContentCl">
                            <div class="Content">
                                <h2>
                                    Change your picture.
                                </h2>
                                <div class="ReadMore">
                            <span class="file-input btn btn-primary btn-file">
                                Browse&hellip; <input type="file" name="image" accept="image/*" id="upload-img" multiple>
                            </span>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- edit form column -->
            <div class="col-md-8">

                <div class="form-group">
                    <label for="nickname" class="col-lg-3 control-label">Nickname <abbr class="req" title="Select nickname for website interaction" style="color : red" > * </abbr></label>
                    <div class="col-lg-9">
                        <input name="nickname" type="text" class="form-control" id="inputName"  onblur="checkNameInput()"  placeholder="Your nickname" style="text-transform: capitalize" required>
                        <span id="nameError" class="alert-warning " data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="birth-date" class="col-lg-3 control-label">Birth date <abbr class="req" title="Select your bith date." style="color : red" > * </abbr></label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="birth-date" data-dtp="dtp_tZPI4" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-3 control-label">Password <abbr class="req" title="Password must contains special characters." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <input name="password1" type="password" class="form-control" id="inputPassword1" onblur="checkPassword()" placeholder="Type new password" required>
                        <span id="passError" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password <abbr class="req" title="Passwords must match." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <input name="password2" type="password" class="form-control" id="inputPassword" onblur="checkPasswords()" placeholder="Retype your password" required>
                        <span id="repassError" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location" class="col-lg-3 control-label">Location <abbr class="req" title="Please provide your location." style="color : red" > * </abbr></label>
                    <div class="col-lg-9">
                        <input name="location" type="text" class="form-control" id="location" placeholder="Your location" style="text-transform: capitalize" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="home-phone" class="col-lg-3 control-label">Home phone</label>
                    <div class="col-lg-9">
                        <input name="home-phone" type="text" class="form-control" id="home-phone" onblur="checkPhone()" placeholder="Your home phone number +387XXXXXXXX">
                        <span id="phoneCheck" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobile-phone" class="col-lg-3 control-label">Mobile phone <abbr class="req" title="Please provide your mobile phone number." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <input name="mobile-phone" type="text" class="form-control" id="mobile-phone" onblur="checkMobilePhone()" placeholder="Your mobile phone number +387XXXXXXXX" required>
                        <span id="mobilePhoneCheck" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skype" class="col-lg-3 control-label">Skype <abbr class="req" title="Please provide your skype name." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <input name="skype" type="text" class="form-control" id="skype"  onblur="checkSkypeName()" placeholder="Your skype name" required>
                        <span id="skypeCheck" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="facebook" class="col-lg-3 control-label">Facebook <abbr class="req" title="Please provide your facebook profile page." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <input name="facebook" type="url" class="form-control" id="facebook"  pattern="https?://www.facebook.com/[\w]{4,}" onblur="checkFacebook()" placeholder="Your facebook profile" value="https://www.facebook.com/" required>
                        <span id="facebookCheck" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="twitter" class="col-lg-3 control-label">Twitter</label>
                    <div class="col-lg-9">
                        <input name="twitter" type="text" class="form-control" id="twitter" placeholder="Your twitter profile">
                    </div>
                </div>

                <div class="form-group">
                    <label for="youtube" class="col-lg-3 control-label">Youtube</label>
                    <div class="col-lg-9">
                        <input name="youtube" type="text" class="form-control" id="youtube" placeholder="Your youtube profile">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender <abbr class="req" title="Please select your gender." style="color : red"> * </abbr></label>
                    <div class="col-lg-9">
                        <div class="radio">
                            <label>
                                <input name="gender" type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
                                Female
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input name="gender" type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                                Male
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Clear all</button>
                        <button id="SumbitProfile" type="submit" class="btn btn-primary focus" href="@controllers.users.routes.UserController.updateProfile()">Submit</button>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        <script>
            	$(document).ready(function(){
			$('#birth-date').bootstrapMaterialDatePicker({
			 format : 'DD/MM/YYYY',
			  maxDate : '01/01/1997',
			  time:false,
			  });

			$.material.init()
		});
        </script>

    }
}
