@import models.user.User
@import utility.UserConstants
@import models.course.CourseUser
@(user: User)
@main(user.getFirstName + " " + user.getLastName + " public profile") {

    <br><br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@user.getFirstName @user.getLastName</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    @if(user.getProfilePicture.size() != 0) {
                        <img src="@user.getProfilePicture.get(user.getProfilePicture.size() - 1).getSize(200, 200)"/>
                    }else {
                        <img src="http://placehold.it/200x200"/>
                    }
                </div>

                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td><strong>Nickname</strong></td>
                                <td>@user.getNickName</td>
                            </tr>

                            <tr>
                                <td><strong>Year of Birth</strong></td>
                                @if(user.getStatus.equals(UserConstants.FULLY_ACTIVE)) {
                                    <td>@user.getYearOfBirth</td>
                                } else {
                                    <td></td>
                                }
                            </tr>

                            <tr>
                                <td><strong>Gender</strong></td>
                                @if(user.getStatus.equals(UserConstants.FULLY_ACTIVE)) {
                                    <td>@if(user.getGender.equals(1)) {Male} else {Female}</td>
                                } else {
                                    <td></td>
                                }
                            </tr>

                            <tr>
                                <td><strong>Location</strong></td>
                                <td>@user.getLocation</td>
                            </tr>


                            <tr>
                                <td><strong>Contact</strong></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><i class="fa fa-phone fa-2x"></i></td>
                                <td>@user.getCellPhone</td>
                            </tr>

                            <tr>
                                <td><i class="fa fa-envelope fa-2x"></i></td>
                                <td><a href="mailto:@user.getEmail">@user.getEmail</a></td>
                            </tr>

                            <tr>
                                <td><i class="fa fa-skype fa-2x "></i></td>
                                <td>@user.getSkype</td>
                            </tr>

                            <tr>
                                <td><i class="fa fa-facebook fa-2x"></i></td>
                                <td><a href="@user.getFacebook">@user.getFacebook</a></td>
                            </tr>
                            @if(user.getRoles.get(0).getId.equals(UserConstants.STUDENT)){
                                <tr>
                                    <td><strong>Classes</strong></td>
                                    <td>
                                        @for(course <- CourseUser.allUserCourses(user)){
                                            @course.getName - @course.getDescription
                                            <br>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <a href="@controllers.users.routes.UserController.newMessage(user.getId)" id="messageIcon" class="btn btn-info pull-right"><i class="glyphicon glyphicon-envelope" ></i>
                        Send @user.getFirstName a message</a>


                </div>
            </div>

        </div>
    </div>
}
