@import models.course.CourseUser
@import helpers.SessionHelper
@(userList: List[CourseUser])
@main("Students") {


  <div class="container">
    <h4 class="page-head-line">Users:</h4>

  </div>

  <div class="container">
    <div class="table-responsive">
      <table id="sort" class="table-condensed table-hover table table-bordered">
        <thead>
          <tr class="information">
            <th>Email:</th>
            <th>Class</th>
            <th>Role:</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
        @for(users <- userList){
          @if(users.getStatus == 2){
            <tr class="info">
              <td>@users.getUser.getEmail</td>
              <td>@users.getCourse.getName -  @users.getCourse.getDescription</td>
              <td>@users.getUser.getRoles.get(0)</td>
              <td><a href="@controllers.users.routes.UserController.newMessage(users.getUser.getId)"><i class="glyphicon glyphicon-envelope"></i></a></td>
            </tr> }

        }
</tbody>
</table>

</div>

</div>

}