@(token: String)
@main("Reset password") {
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4>Reset your password</h4>
        </div>
        <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <form action="@controllers.users.routes.UserController.resetPassword(token)" method="post">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input name="password1" type="password" class="form-control" onblur="checkPassword()" id="inputPassword1" placeholder="Type new password">
                        <span id="passError" class="alert-warning " data-error-for="" ></span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Confirm password</label>
                    <div class="col-lg-9">
                        <input name="password2" type="password" class="form-control" onblur="checkPasswords()" id="inputPassword" placeholder="Retype your password">
                        <span id="repassError" class="alert-warning" data-error-for="" ></span>
                    </div>
                </div>

                <div class="form-group">
                    <a href="@controllers.users.routes.UserController.resetPassword(token)">
                        <button class="btn btn-primary">
                            Confirm
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
}