@import user.User
@(userForm: Form[User])

@main("Sign in") {

    @helper.form(action = routes.Application.checkLogin(), 'class -> "form-horizontal", 'role -> "form") {
    <div class="col-lg-offset-2">
        <legend>Please login to proceed</legend>
        <div class="form-group" >
            <label for="inputEmail" class="col-lg-2 control-label">
                Email <abbr class="req" title="Login with &#64;bitcamp.ba email" style="color : red"> * </abbr></label>
            <div class="col-lg-6">
                <input value="@userForm.bindFromRequest().field("email").value()" type="email" name="email" class="form-control" id="inputEmail" placeholder="name.surname&#64;bitcamp.ba" required>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">
                Password <abbr class="req" title="Login with provided password" style="color : red"> * </abbr></label>
            <div class="col-lg-6">
                <input value="@userForm.bindFromRequest().field("password").value()" type="password" name="password" class="form-control" id="inputPassword" placeholder="Password must be strong eg. [A-Z, a-z, 0-9, special characters]." required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default"> Clear</button>
                <button type="submit" class="btn btn-primary" href="@routes.Application.checkLogin()">Submit</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
            <a href="popupex.html" onclick="return popitup('@routes.Application.sendEmail()')" class="a"><em>
                Did you forget password ?</em></a>
            </div>
        </div>
    </div>


        <script type="text/javascript">
            function popitup(url) {
                newwindow=window.open(url,'name','height=150,width=350');
                if (window.focus) {
                    newwindow.focus()
                }
                return false;
            }
        </script>


    }
}
