
@import models.course.Course

@(course : Course)
@main("Classroom") {

    <div class="container">
        <h4 class="page-head-line">Your wall</h4>

    </div>


            @for(post <- course.getPosts()){

                <div class="container">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="postlist">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="text-center">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h3 class="pull-left">@post.getTitle</h3>
                                                    <h5 class="pull-right" style="font-family: Arial" y><em>@post.getDate</em></h5>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h4 class="pull-right">
                                                        <a href="#"><small style="color:blue"><em>@post.getUser.getEmail<br></em></small></a>
                                                    </h4>
                                                </div>
                                                @if(post.getPostType == 1 ) {
                                                    <div class="col-sm-3">
                                                        <h4 class="pull-right">
                                                            <button id="sendStartMessage@post.getId" onclick="callAjax(@post.getId)">
                                                                Start</button>
                                                        </h4>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <h5><em>@post.getContent</em></h5>
                                        <br>
                                    </div>

                                    @if(post.getLink != "") {
                                        <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 0 20 px ; height : 60 px">
                                            <label>Link : </label>
                                            <a href="@post.getLink" target="_blank">@post.getLink</a>
                                        </div>
                                    }

                                    @if(post.getFiles != null) {
                                        <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 20 px 20 px ; height : 60 px">
                                            <label>Attachment : </label>
                                            <a href="@routes.Assets.versioned("/files/users/" + post.getFiles)">@post.getFiles</a>
                                        </div>
                                    }

                                    <div class="panel-footer">
                                        @if(post.getPostType == 1){
                                            <span class="label label-default">Assigment </span> <span class="label label-default">@post.getCreateDate</span>
                                        }else{
                                            <span class="label label-default">Announcement </span> <span class="label label-default">@post.getCreateDate</span>
                                        }

                                        <span class="label label-default">Updates</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    }
        <script>

                function callAjax(postId){

                    var button = document.getElementById("sendStartedMessage" + postId);
                    $.ajax({
                    type: "post",
                    url : "@controllers.users.routes.UserController.sendStartMessage()",
                    data : "postId=" + postId + "&courseId=" + @course.getId
                });
                }




        </script>
    }