
@import models.course.Course
@import models.user.User

@import utility.UserConstants
@import helpers.SessionHelper
@import models.user.Assignment
@(course : Course)
@main("Classroom") {

    @helper.form(action = controllers.users.routes.StudentController.sendFinishMessage(), 'class -> "form-horizontal", 'role -> "form") {
    <div class="container">
        <h3 class="page-head-line">@course.getName  @course.getDescription <a href="@controllers.users.routes.UserController.calendar()" target="_blank" class="glyphicon glyphicon-calendar"></a></h3>
        <div ></div>
        <div class="pull-right">
            <a href="@controllers.users.routes.UserController.studentList(course.getId)" class="btn btn-primary">
                 <span class="glyphicon glyphicon-user"></span> Classmates
            </a>

        </div>



    </div>

        <br>
            @for(post <- course.getPosts()){
                @if(SessionHelper.currentUser(ctx()).getRoles.get(0).getName.equals(UserConstants.NAME_MENTOR) && !post.getVisibleToMentors){

                }else{
                <div class="container">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="postlist">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="text-center">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h3 class="pull-left">@post.getTitle <span class="badge">@post.getUser.getFirstName @post.getUser.getLastName</span> </h3>

                                                </div>
                                                <div class="col-sm-4">
                                                    <h4 class="pull-right">
                                                    @if(post.getPostType == 1){
                                                        <small style="color:gray"><em><span class="glyphicon glyphicon-time">   Due : @post.getDate @post.getTime </span><br></em></small>
                                                    }
                                                    </h4>
                                                </div>
                                                <!--(User.findByName(course.getTeacher().substring(0, course.getTeacher().indexOf(' ')+ 1))).getRoles().get(0).getName.equals(UserConstants.TEACHER)-->
                                                @if(post.getPostType == 1 && SessionHelper.currentUser(ctx()).getRoles.get(0).getName.equals(UserConstants.NAME_STUDENT) ) {
                                                    @if(SessionHelper.currentUser(ctx()).getHomeworkStatus == 1){
                                                        @if((Assignment.findCurrentAssignment(SessionHelper.currentUser(ctx()), post)).getHomeworkPostStatus == 0) {
                                                            <div class="col-sm-3">
                                                                <h4 class="pull-right">
                                                                    <button id="sendStartMessage@post.getId" onclick="callAjax(@post.getId)" disabled="true">
                                                                        Start</button>
                                                                </h4>
                                                            </div>
                                                        }
                                                    }

                                                    @if(Assignment.findCurrentAssignment(SessionHelper.currentUser(ctx()), post).getHomeworkPostStatus == 1) {
                                                        <div class="col-sm-3">
                                                            <h4 class="pull-right">
                                                                <label id="label@post.getId">STARTED</label>
                                                            </h4>
                                                            <br>
                                                            <h4 class="pull-right">
                                                                <button id="sendFinishMessage@post.getId" onclick="callSecondAjax(@post.getId)" disabled>
                                                                    Finish</button>
                                                            </h4>
                                                        </div>
                                                    }


                                                    @if(((SessionHelper.currentUser(ctx()).getHomeworkStatus == 0) || (SessionHelper.currentUser(ctx()).getHomeworkStatus == 2)) && Assignment.findCurrentAssignment(SessionHelper.currentUser(ctx()), post).getHomeworkPostStatus == 0){
                                         <div class="col-sm-3">
                                                            <h4 class="pull-right">
                                                                <button id="sendStartMessage@post.getId" onclick="callAjax(@post.getId)">
                                                                    Start</button>
                                                            </h4>
                                                        </div>
                                                    }


                                                    @if(Assignment.findCurrentAssignment(SessionHelper.currentUser(ctx()), post).getHomeworkPostStatus == 2){

                                                            <div class="col-sm-3">
                                                                <h4 class="pull-right">
                                                                    <label id="label@post.getId">DONE</label>
                                                                </h4>
                                                            </div>
                                                    }

                                                }

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <h5><em>@post.getContent</em></h5>
                                        <br>
                                    </div>

                                    @if(post.getLink != "") {
                                        <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 0 20 px ; height : 60 px">
                                            <label>Link : </label>
                                            <a href="@post.getLink" target="_blank">@post.getLink</a>
                                        </div>
                                    }

                                    @if(post.getFiles != null) {
                                        <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 20 px 20 px ; height : 60 px">
                                            <label>Attachment : </label>
                                            <a href="@routes.Assets.versioned("/files/users/" + post.getFiles)">@post.getFiles</a>
                                        </div>
                                    }
                                    <div class="panel-footer">
                                        @if(post.getPostType == 1){
                                            <span class="label label-default">Assignment </span> <span class="label label-default pull-right"> @post.getCreateDate</span>
                                        }else{
                                            <span class="label label-default">Announcement </span> <span class="label label-default pull-right">@post.getCreateDate</span>
                                        }




                                        @if(SessionHelper.currentUser(ctx()).getRoles.get(0).getId.equals(UserConstants.STUDENT) && post.getPostType == 1 && SessionHelper.currentUser(ctx()).getHomeworkStatus == 1){

                                        <br>
                                        <br>
                                            <form action="">
                                                <div class="form-control">
                                                    <label class="col-lg-2 ">Link:</label>

                                                    <input type="link" id="homework-link" name="link" class="col-md-10 panel pull-right" onblur="enableLink(@post.getId)">

                                                </div>
                                            </form>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    }
            }

        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script>

                function callAjax(postId){

                    var button = document.getElementById("sendStartMessage" + postId);
                   $("#sendStartMessage"+postId).hide( "drop", { direction: "down" }, "slow" );
                   var div = $("#sendStartMessage"+postId).parent();

                   $("#sendStartMessage"+postId).remove();
                   var label = document.createElement('label');
                   label.innerText = "STARTED";
                   var attr = document.createAttribute("id");
                   attr.value = "label" + postId;
                   label.setAttributeNode(attr);
                   var button = document.createElement('button');
                   button.innerText = "Finish";
                   var at = document.createAttribute("id");
                   at.value = "sendFinishMessage" + postId;
                   button.setAttributeNode(at);
                   div.append(label);
                   var att = document.createAttribute("onclick");
                   att.value = "callSecondAjax("+postId+")";
                   button.setAttributeNode(att);

                   div.append(button);
                   



                   $.ajax({
                    type: "post",
                    url : "@controllers.users.routes.StudentController.sendStartMessage()",
                    data : "postId=" + postId + "&courseId=" + @course.getId
                }).success(function(){
                    location.reload();
                })



                }

                function callSecondAjax(postId){

                    var links = $("#homework-link").val();
                    console.log(links);
                    document.getElementById("label" + postId).innerText = "DONE";
                    $("#sendFinishMessage"+postId).hide( "drop", { direction: "down" }, "slow" );
                    $("#sendFinishMessage"+postId).remove();
                    $.ajax({
                    type: "post",
                    url : "@controllers.users.routes.StudentController.sendFinishMessage()",
                    data : "postId=" + postId + "&courseId=" + @course.getId + "&linkId=" + links
                }).success(function(){
                    location.reload();
                })
                }

                function enableLink(postId){
                   var link = $("#homework-link").val();

                        var button = document.getElementById("sendFinishMessage" + postId);
                        button.disabled = false;

                }


        </script>
    }
    }