@import models.course.Course
@import models.course.CourseUser
@import utility.UserConstants
@(courseList: List[Course])
@main("Course") {
    @for(course <- courseList) {
        @if(course.getStatus != 2){
            <br>
        <form action="@controllers.users.routes.StudentController.joinCourse()" method="post">
            <div class="col-sm-3" id="courseDiv">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        @course.getName
                        </h2>
                    </div>
                    <div class="panel-body">
                    @if(course.getImage != null){
                        <img class="img-responsive" src="@course.getImage.getSize(300,300)"/>
                    }else{
                        <img class="img-responsive" src="http://placehold.it/300x300"/>
                    }
                    </div>
                    <div class="panel-footer">
                        <div class="panel-body">
                            <a href="@controllers.course.routes.CourseController.course(course.getId)">
                                <div class="btn btn-primary btn-block">@course.getDescription
                                </div>
                            </a>
                        </div>
                        @for(user <- CourseUser.allUserFromCourse(course.getId)){
                            @if(user.getRoles != null && user.getRoles.size() > 0) {
                                @for(role <- user.getRoles) {
                                    @if(role.getId.equals(UserConstants.TEACHER)) {
                                                <h5>Teacher: @user.getFirstName @user.getLastName</h5>
                                    }
                                }
                            }

                        }

                        <input type="submit" class="btn btn-success btn-block" id="courseSubmit@course.getId" href="@controllers.users.routes.StudentController.joinCourse()" value="Join" disabled="false"/>
                    </div>
                </div>


            </div>
            
        </form>
        <script>
            $(document).ready(function(){
                var idCourse = @course.getId;
                var courseId = $("#courseId" + idCourse).val();

                $.ajax({
                    type : "post",
                    url : "@controllers.users.routes.StudentController.haveCourseAccess()",
                    data : "courseId=" + courseId
                }).success(function(response){
                    var button = document.getElementById("courseSubmit" + idCourse);
                    if(response == "1"){
                        button.disabled = true;
                    }else if(response === "2"){
                        button.disabled = false;
                    }

                })
            });
        </script>
    }

    }

}