@import models.course.Course
@import models.course.CourseUser
@import utility.UserConstants
@(courseList: List[Course])
@main("Course") {
    @for(course <- courseList) {
        @if(course.getStatus != 2){
        <form action="@controllers.users.routes.StudentController.joinCourse()" method="post">
            <div class="col-sm-3" id="courseDiv">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        @course.getName
                        </h2>
                    </div>
                    <div class="panel-body">
                    @if(course.getImage != null){
                        <img class="img-responsive" src="@course.getImage.getSize(300,300)"/>
                    }else{
                        <img class="img-responsive" src="http://placehold.it/300x300"/>
                    }
                    </div>
                    <div class="panel-footer">
                        <input type="text" name="course-id" id="courseId@course.getId" value="@course.getId" hidden/>
                        <div class="panel-body">
                                <div class="btn btn-primary btn-block">@course.getDescription
                                </div>
                            </div>

                            <div class="panel-body">
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><div class="btn btn-primary btn-block">
                                    Info <span class="caret"></span></div></a>
                                <ul class="dropdown-menu col-xs-12" role="menu">
                                    <div class="list-group-item active">
                                        @for(user <- CourseUser.allUserFromCourse(course.getId)){
                                            @if(user.getRoles != null && user.getRoles.size() > 0) {
                                                @for(role <- user.getRoles) {
                                                    @if(role.getId.equals(UserConstants.TEACHER)) {
                                                            <li class="center">Teacher: @user.getFirstName @user.getLastName</li>

                                                        }
                                                    }
                                                }
                                            }
                                            <li class="divider"></li>
                                        <li class="list-group-item active"><i class="fa fa-info-circle"></i> Students<span class="badge">@CourseUser.studentsInClass(course.getId)</span></li>

                                    </div>
                                </ul>
                            </li>
                        </div>

                        <input type="submit" class="btn btn-success btn-block" id="courseSubmit@course.getId" href="@controllers.users.routes.StudentController.joinCourse()" value="Join" disabled="false"/>
                    </div>
                </div>


            </div>
            
        </form>
        <script>
            $(document).ready(function(){
                var idCourse = @course.getId;
                var courseId = $("#courseId" + idCourse).val();

                $.ajax({
                    type : "post",
                    url : "@controllers.users.routes.StudentController.haveCourseAccess()",
                    data : "courseId=" + courseId
                }).success(function(response){
                    var button = document.getElementById("courseSubmit" + idCourse);
                    if(response == "1"){
                        button.disabled = true;
                    }else if(response === "2"){
                        button.disabled = false;
                    }

                })
            });
        </script>
    }

    }

}