@import user.User
@(userSes: User)(receiver: User)
@main("Message") {

    @helper.form(action = controllers.users.routes.UserController.sendMessage(receiver.getId), 'role -> "form") {
        <br> <br> <br>

        <div class="Compose-Message">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Compose New Message
                </div>
                <div class="panel-body">

                    <label>Subject :  </label>
                    <input type="text" id="subjectMessage" name="subject" class="form-control" required />
                    <label>Text Message : </label>
                    <textarea rows="9" id="subjectArea" name="content" class="form-control" required></textarea>
                    <hr />
                    <button type="submit" id="sendMessage" class="btn btn-success glyphicon-envelope" href="@controllers.users.routes.UserController.sendMessage(receiver.getId)">
                        Send Message</button>
                </div>
                <div class="panel-footer text-muted">
                    <strong>Note : </strong>Please note that we track all messages so don't send any spams.
                </div>
            </div>
        </div>

        <div class="col span_1_of_3">
            <div class="contact_info">

            </div>
        </div>
    }
}