@import models.user.User
@import utility.UserConstants
@import helpers.SessionHelper
@import models.course.Course
@(postForm: Form[Post])(currentUser: User)(userCourses: List[Course])
@main("Publish post") {

    @helper.form(action = controllers.posts.routes.PostController.savePost(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3>Create new post</h3>
            </div>
            <div class="panel-body">

        @if(currentUser != null && currentUser.getRoles.size() > 0 && currentUser.getRoles != null) {
            @for(role <- currentUser.getRoles) {
                @if(role.getId.equals(UserConstants.TEACHER)) {

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Please select post type<abbr class="req" title="Please select post type.">
                                * </abbr>
                            </label>

                            <div class="">
                                <label class="col-md-2">
                                    <input name="post-type" type="radio" name="optionsRadios" id="optionsRadios1" value="0" onclick="dueDate()" checked="true" required>
                                    Announcement
                                </label>

                                <label class="col-md-2 col-md-offset-1">
                                    <input name="post-type" type="radio" name="optionsRadios" id="optionsRadios2" value="1" onclick="dueDate()" required>
                                    Assignment
                                </label>

                            </div>
                        </div>

                }
            }

        }

        @if(currentUser != null && currentUser.getRoles.size() > 0 && currentUser.getRoles != null) {
            @for(role <- currentUser.getRoles) {
                @if(role.getId.equals(UserConstants.TEACHER)) {
                    <div class="form-group">
                        <label class="col-md-3 control-label">Due date <abbr class="req" title="Please select due date."> * </abbr></label>
                        <div class="col-md-2">
                            <input name="date" type="text" max="9999-01-01" class="form-control" id="date" placeholder="dd/mm/yyyy" style="cursor : pointer" disabled="true" required>
                        </div>
                        <label class="col-md-2 control-label">Due time <abbr class="req" title="Please select due date."> * </abbr></label>
                        <div class="col-md-2">
                            <input name="time" type="time" class="form-control" id="time" disabled="true" style="cursor : pointer" required>
                        </div>
                    </div>
                }
            }

        }

        <div class="form-group">
            <label for="title" class="col-md-3 control-label">
                Title<abbr class="req" title="Please insert title."> * </abbr></label>
            <div class="col-md-6">
                <input name="title" type="text" pattern="[\w\d ]{3,}" class="form-control" id="title" placeholder="Write post title here." required>
            </div>
        </div>


        <div class="form-group">
            <label for="textArea" class="col-md-3 control-label">
                Content<abbr class="req" title="Please insert content."> * </abbr></label>
            <div class="col-md-8">
            <textarea name="content" data-p class="form-control" rows="5" id="textArea" style="width: 74%;resize: none"  placeholder="Write post content here." required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="link" class="col-md-3 control-label">Add link</label>
            <div class="col-md-6">
                <input name="link" type="url" class="form-control" id="link" value="https://www." pattern="(https?://(www.)?)?[a-z]{3,}\.[\w]{2,6}(/[\w\.\?\!\=\:\%\#/-]+)?">
            </div>
        </div>

        <div class="form-group">
            <label for="files" class="col-md-3 control-label">Add files</label>
            <div class="col-md-6">

                <span class="file-input btn btn-primary btn-file">
                    Browse&hellip; <input type="file" name="files" accept="" id="files" class="form-control" multiple>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-md-3 control-label">
                Select course<abbr class="req" title="Select course"> * </abbr></label>

            <div class="col-md-6">
                <select class="form-control" id="selectCourse" name="course">
                @for(course <- userCourses) {
                    @if(course.getStatus == 1) {
                        <option value="@course.getId">@course.getName - @course.getDescription</option>
                    }

                }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 col-md-offset-3">
                <input name="visible" type="checkbox">
                Visible to mentors
            </label>
            <div class="col-md-1 col-md-offset-2">
                <button type="reset" class="btn btn-default">Clear all</button>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary  focus" href="@controllers.posts.routes.PostController.savePost()">
                    Publish</button>
            </div>
        </div>
            </div>
        </div>

    }
    <style>
    .req {
    color : red ;
    }
    </style>
    <script >
        function dueDate(){
            var radio1 = document.getElementById("optionsRadios1");
            var radio2 = document.getElementById("optionsRadios2");
            if(radio1.checked === true && radio2.checked === false){

                date.disabled = true;
                time.disabled = true;
            }else if(radio1.checked === false && radio2.checked === true){

                date.disabled = false;
                time.disabled = false;
            }
        }

        var time = document.getElementById("time");
        var date = document.getElementById("date");
    </script>

    <script type="text/javascript">
          $(function () {
             $('#date').datepicker({ minDate: 0 });
              });

           </script>
}


