@import user.User
@(message: PrivateMessage)
@main("Message") {

<br> <br> <br>
    @helper.form(action = controllers.users.routes.UserController.allMessage(), 'role -> "form") {
        <div class="Compose-Message">
            <div class="panel panel-success">
                <div class="panel-heading">
                    From: @message.getSender.getFirstName @message.getSender.getLastName
                </div>
                <div class="panel-body">

                    <label>Subject:  </label>
                    <input type="text" name="subject" class="form-control" readonly value="@message.getSubject" />
                    <label>Message: </label>
                    <textarea rows="9" name="content" class="form-control" readonly>@message.getContent</textarea>
                    <div class="panel-footer">
                    <button type="submit"  class="btn btn-success" href="@controllers.users.routes.UserController.allMessage()">
                        <i class="fa fa-chevron-left"></i> Back</button>
                    <button class="btn btn-success pull-right"  href="@controllers.users.routes.UserController.newMessage(message.getSender.getId)">
                        <i class="fa fa-paper-plane"></i>  Reply</button>
                    </div>
                </div>

            </div>
        </div>
    }

}