@import models.user.User
@import helpers.SessionHelper
@(userList: List[User])
@main("Students") {

  <div class="container">
    <h4 class="page-head-line">Classmates:</h4>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table id="sort" class="table-condensed table-hover table table-bordered">
        <thead>
          <tr class="information">
            <th>Name:</th>
            <th>Email:</th>
            <th>Role:</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
        @for(users <- userList){
          @if(users.getId != SessionHelper.currentUser(ctx()).getId) {
            <tr class="info">
              <td>@users.getFirstName @users.getLastName</td>
              <td>@users.getEmail</td>
              <td>@users.getRoles.get(0)</td>
              <td><a href="@controllers.users.routes.UserController.newMessage(users.getId)"><i class="glyphicon glyphicon-envelope"></i></a></td>
            </tr>
          }

        }
</tbody>
</table>

</div>

</div>

}