@(listPost: List[Post])
@main("List assignment") {
 <br>
    <br>

    @for(lp <- listPost) {
    @if(lp.getPostType == 1){
        <a href="@controllers.posts.routes.PostController.assignmentDetails(lp.getId)">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="postlist">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left">@lp.getTitle</h3>
                                            <h5 class="pull-right" style="font-family : Arial" y><em>@lp.getDate</em></h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                                <a href="#"><small style="color : blue"><em>@lp.getUser.getEmail <br></em></small></a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <h5><em>@lp.getContent</em></h5>
                                <br>
                            </div>

                            @if(lp.getLink != "") {
                                <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 0 20 px ; height : 60 px">
                                    <label>Link : </label>
                                    <a href="@lp.getLink" target="_blank">@lp.getLink</a>
                                </div>
                            }

                            @if(lp.getFiles != null) {
                                <div class="panel-body" style="border : 1 px solid darkgrey ; background-color : lightgrey ; margin : 0 20 px 20 px 20 px ; height : 60 px">
                                    <label>Attachment : </label>
                                    @for(file <- lp.getFiles) {
                                        <br/><a href="@file.getUrl()">@file.getFileName()</a>
                                    }
                                </div>
                            }

                            <div class="panel-footer">
                                @if(lp.getPostType == 1) {
                                    <span class="label label-default">
                                        Assigment </span> <span class="label label-default pull-right">@lp.getCreateDate</span>
                                } else {
                                    <span class="label label-default">
                                        Announcement </span> <span class="label label-default pull-right">@lp.getCreateDate</span>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </a>
    }
    }
}
