@main("About bitClassroom team") {

  <div class="text-center">
    <div class="row">
      <h4>WHAT team</h4>
    </div>
    <div class="row top30">
      <p>We are currently developing web application that is similar to Google classroom. Login to see current work.</p>
    </div>
  </div>

  <div class="row top30">
    <br><br><br>


    <div class="row top30">

    <div class="panel panel-success col-lg-offset- col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Medina Banjic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
          <a href="https://github.com/medinabanjic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-2  col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Becir Omerbasic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
          <a href="https://github.com/Becirr"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Enver Memic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
          <a href="https://github.com/envermemic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Nidal Salkic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
          <a href="https://github.com/nidalBITCamp"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-2 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Senadin Botic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
          <a href="https://github.com/SenadinBitCamp"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    <div class="panel panel-success col-lg-offset-1 col-lg-3">
      <div class="panel-heading">
        <h3 class="panel-title">Boris Tomic</h3>
      </div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-pushpin">
        <a href="https://github.com/boristomic"><span class="badge">GitHub</span></a></i>
      </div>
    </div>

    </div>
    <!-- END OF ROW -->


  </div>



}
