@import java.util.Date
@(pageTitle: String)

@layouts.calendarLayout("Full calendar") {

    <br/>
    <br/>
    <br/>
<div style="display: none;">
    <form action="@controllers.users.routes.AdminController.addByAjax()" method="POST" id="eventFormNew">
        <input type="text" name="title" id="newTitle"/>
        <input type="text" name="start" id="newStart"/>
        <input type="text" name="end" id="newEnd"/>
        <input type="text" name="allDay" id="newAllDay"/>
    </form>


    <form action="@controllers.users.routes.AdminController.move()" method="POST" id="eventFormMove">
        <input type="text" name="id" id="moveId"/>
        <input type="text" name="dayDelta" id="moveDayDelta"/>
        <input type="text" name="minuteDelta" id="moveMinuteDelta"/>
        <input type="text" name="allDay" id="moveAllDay"/>
    </form>


    <form action="@controllers.users.routes.AdminController.resize()" method="POST" id="eventFormResize">
        <input type="text" name="id" id="resizeId"/>
        <input type="text" name="dayDelta" id="resizeDayDelta"/>
        <input type="text" name="minuteDelta" id="resizeMinuteDelta"/>
    </form>
</div>

    <div id='calendar'>

        <br/>
    </div>


}

