@import helpers.SessionHelper
@import utility.UserConstants
@(id: Long, eventForm: Form[Event], event: Event)

@import helper._

@implicitField = @{ FieldConstructor(fields.twoColumns.f) }

@layouts.mainLayout("Edit event: "+ event.getTitle){

    <br>
    <br/>
    <br/>
    <br/>
<div class="container">

    @if(SessionHelper.currentUser(ctx()).getRoles.get(0).getId.equals(UserConstants.ADMIN)) {
        <h3>Edit event: @event.getTitle </h3>
    } else {
        <h3>Event details</h3>
    }
    @helper.form(action = controllers.users.routes.AdminController.update(id), 'id->"eventFormEdit") {

        @inputText(eventForm("title"), args =
            '_label -> "Title",
            'size ->18,
            'placeholder -> "But not too long...",
            'class -> "required",
            'minlength -> "3"
        )

        @checkbox(field = eventForm("allDay"), args =
            '_label -> "All day event?"
        )

        @inputText(eventForm("start"), args =
            '_label -> "Start date",
            '_help -> "",
            'size ->18,
            'placeholder -> "dd.mm.yyyy hh:mm",
            'placeholder -> "dd.mm.yyyy",
            'class -> "required"
        )

        @inputText(eventForm("end"), args =
            '_label -> "End date",
            '_help -> "",
            'size ->18,
            'placeholder -> "dd.mm.yyyy hh:mm"
        )


        @if(SessionHelper.currentUser(ctx()).getRoles.get(0).getId.equals(UserConstants.ADMIN)) {
        <div class="row" id="rowOf_submitbuttons">
            <div class="span8 offset2">
            <input type="submit" value="Save an event" class="btn btn-warning"> or
            <a href="@controllers.users.routes.AdminController.list()" class="btn">Cancel</a>
            </div>
        </div>
        }else{

        }
        }
</div>
}

