@import helpers.SessionHelper
@import models.user.User
@import models.course.Course
@import models.course.CourseUser
@import utility.UserConstants
@import utility.CourseConstants
@(user: User)(courseUser: List[CourseUser])
@main("Welcome to bitClassroom") {

    @if(user != null) {
        <div class="text-center">
           <br><br>
        </div>
        @for(cU <- courseUser) {
            @if(cU.getUser.getId == user.getId) {
                @if(cU.getStatus == 2 && cU.getCourse.getStatus != 2 ) {
                    <div class="col-sm-3" id="courseDiv">
                        <div class="thumbnail" style="max-height: 700px; max-width: 300px">
                            @if(cU.getCourse.getImage != null){
                                <img src="@cU.getCourse.getImage.getSize(300,300)"/>
                            }else{
                            <img src="http://placehold.it/300x300"/>
                            }
                            <div class="caption">
                                <a href="@controllers.course.routes.CourseController.course(cU.getCourse.getId)"><h2>@cU.getCourse.getName</h2>
                                <h4>@cU.getCourse.getDescription</h4></a>
                                <br>


                                   @* @if(cU.getUser.getRoles != null && cU.getUser.getRoles.size() > 0) {
                                        @for(role <- cU.getUser.getRoles) {
                                            @if(role.getId.equals(UserConstants.TEACHER)) {
                                                <h6>@cU.getUser.getFirstName @cU.getUser.getLastName</h6>
                                            }
                                        }
                                    }

                                    *@

                                @for(cUser <- courseUser){
                                    @if(cUser.getCourse.getId == cU.getCourse.getId){
                                        @if(cUser.getUser.getRoles != null && cUser.getUser.getRoles.size() > 0) {
                                            @for(role <- cUser.getUser.getRoles) {
                                                @if(role.getId.equals(UserConstants.TEACHER)) {
                                                    <h6>@cUser.getUser.getFirstName @cUser.getUser.getLastName</h6>
                                                }
                                            }
                                        }
                                    }

                                }

                            </div>

                        </div>
                    </div>
                }
            }
        }



    }

}
