@import helpers.SessionHelper
@import models.user.User
@import models.course.Course
@import models.course.CourseUser
@import utility.UserConstants
@import utility.CourseConstants
@(user: User)(courseUser: List[CourseUser])
@main("Welcome to bitClassroom") {

    @if(user != null) {
        <div class="text-center">
           <br><br>
        </div>
        @for(cU <- courseUser) {
            @if(cU.getUser.getId == user.getId) {
                @if(cU.getStatus == 2 && cU.getCourse.getStatus != 2 ) {
                    <div class="col-sm-3" id="courseDiv">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    @cU.getCourse.getName
                                </h2>
                            </div>
                            <div class="panel-body">
                            @if(cU.getCourse.getImage != null){
                                <img class="img-responsive" src="@cU.getCourse.getImage.getSize(300,300)"/>
                            }else{
                            <img class="img-responsive" src="http://placehold.it/300x300"/>
                            }
                                </div>
                            <div class="panel-footer">

                                    <div class="panel-body">
                                        <a href="@controllers.course.routes.CourseController.course(cU.getCourse.getId)">
                                        <div class="btn btn-primary btn-block">@cU.getCourse.getDescription
                                        </div>
                                        </a>
                                        </div>
                                <div class="panel-body">

                                    <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><div class="btn btn-primary btn-block">
                                            Info <span class="caret"></span></div></a>
                                        <ul class="dropdown-menu col-xs-12" role="menu">
                                             <div class="list-group-item active">
                                            @for(cUser <- courseUser){
                                                @if(cUser.getCourse.getId == cU.getCourse.getId){
                                                    @if(cUser.getUser.getRoles != null && cUser.getUser.getRoles.size() > 0) {
                                                        @for(role <- cUser.getUser.getRoles) {
                                                            @if(role.getId.equals(UserConstants.TEACHER)) {
                                                                <li class="center">Teacher: @cUser.getUser.getFirstName @cUser.getUser.getLastName</li>

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                                 <li class="divider"></li>
                                            <li class="list-group-item active"><i class="fa fa-info-circle"></i> Students<span class="badge">@CourseUser.studentsInClass(cU.getCourse.getId)</span></li>

                                </div>
                                        </ul>
                                    </li>
                                </div>


                            </div>

                        </div>
                    </div>
                }


            }
        }



    }

}



