@import helpers.SessionHelper
@import models.user.User
@import models.course.Course
@import models.course.CourseUser
@(user: User)(courseUser: List[CourseUser])
@main("Welcome to bitClassroom") {

    @if(user != null) {
        <div class="text-center">
            <h4>Welcome back @user.getFirstName @user.getLastName</h4>
        </div>
        @for(cU <- courseUser) {
            @if(cU.getUser.getId == user.getId) {
                @if(cU.getStatus == 2) {
                    <div class="col-sm-3" id="courseDiv">
                        <div class="thumbnail" style="max-height: 700px; max-width: 300px">
                            <img src="@routes.Assets.versioned("/images/courses/" + cU.getCourse.getImage)" alt="" style="width:280px; height: 200px">
                            <div class="caption">
                                <a href="/user/class"><h2>@cU.getCourse.getName</h2>
                                <h4>@cU.getCourse.getDescription</h4></a>
                                <br>
                                <h6>@cU.getCourse.getTeacher</h6>

                            </div>

                        </div>
                    </div>
                }
            }
        }



    }

}
