@import models.course.Course
@import helpers.SessionHelper
@import utility.UserConstants
@(events: List[Event])(course: Course)

@layouts.mainLayout("List events") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@controllers.users.routes.UserController.calendar(course.getId)">@course.getName @course.getDescription Calendar</a>
                @if(SessionHelper.currentUser(ctx).getRoles.get(0).getId.equals(UserConstants.ADMIN)) {
                    <ul class="nav pull-right">
                        <li >
                            <a href="@controllers.users.routes.UserController.list()">
                                <i class="icon-list icon-white"></i> Event's list</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
<div class="container">
    <h2>Event's list</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th  style="min-width:10px; max-width:900px;width:auto; white-space:nowrap;">Event</th>
            <th style="width:104px;">From</th>
            <th style="width:104px;">To</th>
            <th style="width:14px;"><a href="@controllers.users.routes.UserController.blank()" title="Add new event"><i class="icon-plus"></i></a></th>
        </tr>
        </thead>
        <tbody>
        @for(event <- events){
        <tr>
            <td><a href="@controllers.users.routes.UserController.edit(event.getId)">@event.getTitle</a></td>
            @if(event.getAllDay && event.getEndsSameDay){
                <td colspan="2">@if(event.getStart == null){ - } else {@event.getStart.format("dd.MM.yyyy") (All day)}</td>
            } else {
                @if(event.getAllDay){
                    <td colspan="2">@if(event.getStart == null){ - } else {@event.getStart.format("dd.MM.yyyy")} - @if(event.getEnd == null){ - } else {@event.getEnd.format("dd.MM.yyyy")} (All days)</td>
                } else {
                    <td>@if(event.getStart == null){ - } else {@event.getStart.format("dd.MM.yyyy H:mm")}</td>
                    <td>@if(event.getEnd == null){ - } else {@event.getEnd.format("dd.MM.yyyy H:mm")}</td>
                }
            }
            <td>
                <a data-role="delete" data-delete-parent="tr"  href="@controllers.users.routes.UserController.delete(event.getId)" role="button"><i class="icon-trash"></i></a>
            </td>

        </tr>
        }
        </tbody>
    </table>
    

</div>

}