@import helpers.SessionHelper
@import models.user.User

@import utility.UserConstants
@(title: String)(content: Html)(implicit currentUser: User = SessionHelper.currentUser(ctx()))

<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- support for all characters -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="footer, address, phone, icons" />

            <!-- TITLE IS ADDED FROM EVERY PAGE -->
        <title>@title</title>



        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/component.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sinister.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/rotating-card.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-material-datetimepicker.css")" />





        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- css for validation and other main stylesheat -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />


        <!-- custom icon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/neo/favicon-32x32.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tablesorter.min.css")"/>

        <!--css for jquery-ui-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


        <script src="@routes.Assets.versioned("javascripts/modernizr.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/materialize.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/moment.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap-material-datetimepicker.js")"></script>


        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("/javascripts/tablesorter.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>



    </head>
        <!-- END OF HEAD TAG -->

    <body>


            <!-- HEADER WITH IMAGE ONLY -->

            @if(currentUser != null){
            <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="" href="/"><img  src="@routes.Assets.versioned("img/neo/bcLogoNoText.png")" alt=""/></a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        @if(currentUser.getRoles.size() > 0 && currentUser.getRoles != null) {
                            @for(role <- currentUser.getRoles) {
                                @if(role.getId.equals(UserConstants.ADMIN)) {
                                    <li><a href="/admin"><i class="fa fa-cog fa-spin"></i> Admin panel</a></li>
                                }
                                @if(role.getId.equals(UserConstants.TEACHER)) {
                                    <li><a href="/allMessage"><i class="fa fa-envelope-o"></i> Messages <span class="badge" id="notify"></span></a></li>
                                    <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            Classroom<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" style="background-color : white">

                                           <!-- <li><a href="/user/courses">Courses</a></li> -->
                                            <li><a href="/post/new"><i class="fa fa-plus fa-5"></i> Add post</a></li>
                                            <li><a href="/teacher/awaitlist">Awaiting approval <span class="badge" id="notify1"></span></a></li>
                                            <li class="divider"></li>


                                        </ul>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            Reports<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" style="background-color : white">

                                                <!-- <li><a href="/user/courses">Courses</a></li> -->
                                            <li><a href="/daily/report"><i class="fa fa-pencil"></i> Write daily report</a></li>
                                            <li><a href="/teacher/myreports"><i class="fa fa-eye"></i> See reports</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/teacher/reports"><i class="fa fa-eye"></i> Mentors reports</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="@controllers.users.routes.TeacherController.listAssignment()"><i class="fa fa-eye"></i> See assignment</a></li>

                                }
                                @if(role.getId.equals(UserConstants.MENTOR)) {

                                    <li><a href="/allMessage"><i class="fa fa-envelope-o"></i> Messages <span class="badge" id="notify"></span></a></li>
                                    <li><a href="/weekly/report"><i class="fa fa-flag-o"></i> Weekly report</a></li>

                                }
                                @if(role.getId.equals(UserConstants.STUDENT)) {
                                    <li><a href="/post/new"><i class="fa fa-plus fa-5"></i> Add post</a></li>
                                    <li><a href="/allMessage"><i class="fa fa-envelope-o"></i> Messages <span class="badge" id="notify"></span></a></li>
                                    <li class="dropdown active">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            Course <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" style="background-color : white">
                                            <li><a href="/user/courses"><i class="fa fa-plus"></i> Join course</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/student/works"><i class="fa fa-files-o"></i> My homeworks</a></li>
                                        </ul>
                                         </li>
                                }}}</ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    @if(currentUser.getProfilePicture.size() != 0 && currentUser.getProfilePicture != null){
                                        <img src="@currentUser.getProfilePicture().get(currentUser.getProfilePicture.size()-1).getAvatar()" alt="">
                                    }else{
                                        <img src="http://res.cloudinary.com/dsjagtpwx/image/upload/v1446409587/user42_arah0a.png" alt="">
                                    }
                                    @currentUser.getFirstName() <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" style="background-color : white">
                                    <li><a href="/user/publicprofile/@SessionHelper.currentUser(ctx()).getId"><i class="fa fa-user"></i> Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/user/editprofile"><i class="fa fa-user"></i> Edit profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Sign out</a></li>
                                </ul>
                            </li>
                        </ul>


                        }


                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>


        <div class="col-lg-12">
            <div class="col-lg-4 col-lg-offset-4">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @flash.get("success")
                </div>
            }
            </div>
            <div class="col-lg-4 col-lg-offset-4">
            @if(flash.containsKey("warning")) {
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @flash.get("warning")
                </div>
            }
            </div>
            <div class="col-lg-4 col-lg-offset-4">
            @if(flash.containsKey("info")) {
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @flash.get("info")
                </div>
            }
            </div>
            <div class="col-lg-4 col-lg-offset-4">
            @if(flash.containsKey("danger")) {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @flash.get("danger")
                </div>
            }
            </div>
        </div>

            <!-- CONTAINER WITH ALL CONTENT FOR MAIN HTML -->
        <div id="perspective" class="perspective effect-airbnb">
            <div class="container">
                <div class="wrapper">
                    <br>

        @content

            <!-- END OF CONTAINER WITH CONTENT -->



                </div><!-- wrapper -->



            </div><!-- /container -->

            <button id="showMenu" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-option-horizontal"></i></button>


            <nav class="outer-nav left vertical">
                <a href="/" ><i class="fa fa-home fa-8"></i>  Home</a>
                <a href="https://github.com/boristomic/bitClassroom" ><i class="fa fa-github fa-8"></i>  GitHub</a>
                <a href="/faq" ><i class="fa fa-question-circle fa-8"></i>  F.A.Q.</a>
                <a href="/user/contact" ><i class="fa fa-envelope fa-8"></i>  Contact</a>

            </nav>
        </div>
            <!-- END OF FOOTER -->
            <!-- JAVASCRIPT SCRIPTS, FIRST JQUERY IS LOADED -->
        <script src="@routes.Assets.versioned("javascripts/classie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/menu.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootbox.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>



        <script type="text/javascript">

           $(document).ready(function(){
            $('#sort').DataTable();
            });
        </script>

        <script type="text/javascript">
          $(function() {
             $('#date').datepicker({ minDate: 0 });
              });

           </script>

        <script type="text/javascript">
            $(document).ready(setInterval(function(){
                $.ajax({
                        type: "get",
                        url: "@routes.Application.unreadMessages()"
                }).success(function(response) {
                    if("0"!=response){
                        $('#notify').html(response);
                    }
                })

            }, 1000));

        $(document).ready(setInterval(function(){
                $.ajax({
                        type: "post",
                        url: "@routes.Application.getNotification()",
                        data: ""
                }).success(function(response) {
                    $('#notify1').html(response);
                })
                }, 1000));

        </script>




    </body>
</html>